* {
  background-color: rgb(166, 150, 216);
}

.list {
  color: white;
}

.logo {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.bookmark {
  margin-top: 4rem;
  margin-left: 10rem;
}
